# ENTORNO DE EJECUCION Y MODO DEBUG
APP_ENV=local
APP_DEBUG=true

# CONEXION A MYSQL / MARIADB
DB_HOST=127.0.0.1
DB_PORT=3307
DB_NAME=cineverse
DB_USER=user
DB_PASSWORD=password
DB_CHARSET=utf8mb4

# PATH PARA GUARDAR LOS LOGS
CINEVERSE_LOG_PATH=storage/logs

# CONFIGURACION SMTP PARA ENVIAR MAILS
MAIL_HOST=smtp
MAIL_PORT=587
MAIL_USERNAME=mail@mail.com
MAIL_PASSWORD=password
MAIL_FROM=mail@mail.com
MAIL_FROM_NAME=CineVerse

# URL DEL FRONTEND PARA REDIRECCIONES Y ENLACES DEL BACKEND
FRONTEND_URL=http://localhost:5173
