# URL BASE DE LA API DE "The Movie Database (v3)"
VITE_TMDB_BASE_URL="https://api.themoviedb.org/3"
# TOKEN BEARER DE AUTENTICACIÓN DE TMDB
VITE_TMDB_TOKEN="token"
# URL BASE DEL BACKEND
VITE_BACKEND_URL="/api"
